/*
Stylesheet for - https://asdub.github.io/5km-parks-MP2/ 
*/

/***** Fonts *****/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap");


/***** Css Variables *****/
:root {
    --theme-black: #0F0F0F;
    --theme-green: #3FB777;
    --theme-margin: 3px;
}

/***** Global Settings *****/

html {
    scroll-behavior: smooth;
    height: 100%;
}

h1,
h2,
h3,
p {
    margin: 0
}

body {
    height: 100%;
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    margin: var(--theme-margin);
    color: var(--theme-black);
}

.white-btn-large {
    background: #ffffff;
    padding: 1rem 4rem;
    border-radius: 33px;
    color: var(--theme-black);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
}

/***** Layout Settings *****/
.layout {
    background: #EBE4E4;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1rem;
}


/***** Header *****/
.head-container {
    display: flex;
    flex-direction: column;
}

.logo {
    padding-bottom: 1rem;
}

.logo h1 {
    color: var(--theme-green);
    font-size: 2rem;
    position: relative;
}

.logo > h1 > span {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.logo > h1 > span:nth-child(2) {
    color: var(--theme-black);
    margin: 0 0.5rem;
}

.logo i {
    top: 8px;
    position: absolute;
}

.header-content p {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}

.header-content p span {
    color: var(--theme-green);
}

.help-toggle {
    color: var(--theme-green);
    top: 0;
    right: 0;
    margin: calc(var(--theme-margin) + 1.1rem);
    position: absolute;
}

.help-toggle i {
    font-size: 2rem;
}

/***** Main Content *****/

.main-content {
    padding: 0.5rem 0 1rem 0;
}

/** Main Content - Map **/
.map-area {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-area p {
    color: #707070;
}

.map-area span {
    color: var(--theme-green);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem 0;
}

.main-content-container {
  display: flex;
  flex-direction: column;
}

#map {
    height: 100%;
    min-height: 40vh;
    border-radius: 10px;
    box-shadow: 2.5px 5px 10px -5px rgba(0, 0, 0, 0.2);
}

/** Main Content - Map Content **/

.map-content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: var(--theme-green);
    border-radius: 10px;
    transform: translateY(-10px);
    box-shadow: -2.5px -5px 10px -5px rgb(0 0 0 / 40%);
}

.map-content-area-icon i {
    color: #ffffff;
    font-size: 4rem;
}

.map-content-area-text p {
    text-align: center;
    color: #ffffff;
    font-size: 1.1rem;
    letter-spacing: 0.0025rem;
    text-transform: uppercase;
    padding: 1rem 0;
}

.map-content-area-help a {
    color: #ffffff;
    font-size: 0.9rem;
    transition: all 0.2s ease-in-out;
}

.map-content-area-help a:focus,
.map-content-area-help a:hover {
    color: var(--theme-black);
}

.map-content-area-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(1rem - 10px) 1rem 1rem 1rem;
}

/** Customise Section **/
.customise-area-container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}