/*
Stylesheet for - https://asdub.github.io/5km-parks-MP2/ 
*/

/***** Fonts *****/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap");


/***** Css Variables *****/
:root {
    --theme-black: #0F0F0F;
    --theme-green: #3FB777;
    --theme-margin: 6px;
}

/***** Global Settings *****/

html {
    scroll-behavior: smooth;
    height: 100%;
}

h1,
h2,
h3,
p {
    margin: 0
}

body {
    height: 100%;
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    margin: var(--theme-margin);
    color: var(--theme-black);
}

/***** Layout Settings *****/
.layout {
    background: #EBE4E4;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    padding: 1rem;
    height: 100%;
}


/***** Header *****/
.head-container {
    display: flex;
    flex-direction: column;
}

.logo {
    padding-bottom: 1rem;
}

.logo h1 {
    color: var(--theme-green);
    font-size: 2rem;
    position: relative;
}

.logo > h1 > span {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.logo > h1 > span:nth-child(2) {
    color: var(--theme-black);
    margin: 0 0.5rem;
}

.logo i {
    top: 8px;
    position: absolute;
}

.header-content p {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}

.header-content p span {
    color: var(--theme-green);
}

.help-toggle {
    color: var(--theme-green);
    top: 0;
    right: 0;
    margin: calc(var(--theme-margin) + 1rem);
    position: absolute;
}

.help-toggle i {
    font-size: 2rem;
}

/***** Main Content *****/

.main-content {
    padding: 0.5rem 0 1rem 0;
}

/** Main Content - Map **/
#map,
.main-content-container {
  height: 100%;
  border-radius: 10px;
  box-shadow: 2.5px 5px 10px -5px rgba(0, 0, 0, 0.2);
}




